<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?v=2">
  <title>Symptom Checker</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <header class="header">
    <a href="{{ url_for('home') }}" class="logo">HealthCare</a>
    <nav class="main-nav">
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('chat_page') }}">Chat</a></li>
        <li><a href="{{ url_for('drugs') }}">Drugs</a></li>
        <li><a href="{{ url_for('about_page') }}">About</a></li>
      </ul>
    </nav>
    <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
  </header>

  <nav class="mobile-nav">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('chat_page') }}">Chat</a>
    <a href="{{ url_for('drugs') }}">Drugs</a>
    <a href="{{ url_for('about_page') }}">About</a>
  </nav>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer class="footer">
    <p>&copy; 2025 HealthCare. All rights reserved.</p>
  </footer>

  <script>
    const hamburger = document.querySelector('.hamburger');
    const mobileNav = document.querySelector('.mobile-nav');

    hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('is-active');
        mobileNav.classList.toggle('is-active');
    });
  </script>
</body>
</html>
