{% extends 'base.html' %}
{% block content %}
<div class="home-main-div">
    <div class="main-text-div">
    <h1>Health+ The AI Symptom Checker</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In adipisci voluptatem voluptate. Ipsam quidem exercitationem sapiente sequi, laborum aperiam ex tempora? Modi amet autem aperiam quam, reprehenderit rerum voluptates similique.</p>
        <br>
        <a href="{{ url_for('chat_page') }}" class="btn-chek-main">Check Symptoms</a>
    </div>

    <div class="main-img-div">
        <img src="{{ url_for('static', filename='images/health-img1.jpg') }}" alt="Healthcare Image" class="main-img">
    </div>
</div>

<div class="home-main-div-2">
    <div class="main-2-img-div">
        <img src="{{ url_for('static', filename='images/health-img2.jpg') }}" alt="AI Image" class="main-2-img">
    </div>

    <div class="main-2-text-div">
        <h1>Why Should You Use Health+?</h1>
        <h3>1. Advanced AI Technology for Accurate Symptom Analysis</h3>
        <h3>2. Comprehensive Drug Information Database</h3>
        <h3>3. 24/7 Available Medical Chat Assistant</h3>
    </div>
</div>
{% endblock %}
