{% extends 'base.html' %}
{% block content %}
<div class="home-main-div">
    <div class="main-text-div">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In adipisci voluptatem voluptate. Ipsam quidem exercitationem sapiente sequi, laborum aperiam ex tempora? Modi amet autem aperiam quam, reprehenderit rerum voluptates similique.</p>
    </div>

    <div class="main-img-div">
        <img src="{{ url_for('static', filename='images/healthcare.png') }}" alt="Healthcare Image" class="main-img">
    </div>
</div>
{% endblock %}